{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            {% for notification in app.flashes('success') %}
                <div class="alert alert-success text-center">{{ notification }}</div>
            {% endfor %}

            <form method="post" class="mt-3">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
                <div class="mb-3">
                    <label for="inputEmail" class="visually-hidden">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="visually-hidden">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
