{% extends 'base.html.twig' %}

{% block title %}Bienvenue Shoesshop
{% endblock %}

{% block body %}
	{# <header class="bg-danger" style="height: 30vh"> #}
	{# <img class="w-100 h-200" src="{{ asset('images/PhotoAcceuil.jpg')}}" alt=""> #}


		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="w-100 h-200" src="{{ asset('images/products/PhotoAcceuil1.jpg')}}" alt="">
			</div>
			<div class="carousel-item">
				<img class="w-100 h-200" src="{{ asset('images/products/femme.jpg')}}" alt="">
			</div>
			<div class="carousel-item">
				<img class="w-100 h-200" src="{{ asset('images/products/sandales.jpg')}}" alt="">
			</div>
			<div class="carousel-item">
				<img class="w-100 h-200" src="{{ asset('images/products/photocaroussel.jpg')}}" alt="">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<script>
		$(document).ready(function () { // Démarrer le carrousel
$('#carouselExampleIndicators').carousel();

// Déclencher la transition de diapositive chaque seconde
setInterval(function () {
$('#carouselExampleIndicators').carousel('next');
}, 1000);

// Écouter l'événement "slid.bs.carousel"
$('#carouselExampleIndicators').on('slid.bs.carousel', function () { // Vérifier si la dernière diapositive est atteinte
if ($('.carousel-inner .carousel-item:last').hasClass('active')) { // Revenir au début du carrousel
$('#carouselExampleIndicators').carousel(1);
}
});
});
	</script>

	<main class="text-center text-black fst-italic my-4" style="background-color: #ccc; border: 2px solid #ffc107; padding: 10px;">
		{% block h1 %}
			<h1 class="display-4 fw-bold">Bienvenue sur DOOKE S.A.S!</h1>

			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<p class="lead mt-3 fw-bold">
							Découvrez notre vaste sélection de chaussures de haute qualité pour toutes les occasions. Que vous cherchiez des baskets confortables, des chaussures élégantes ou des bottes résistantes, nous avons tout ce qu'il vous faut pour compléter votre garde-robe. Profitez de nos offres exclusives et d'une expérience d'achat en ligne exceptionnelle!
						</p>
						<a href="{{ path('app_catalog') }}" class="btn btn-primary btn-lg mt-3">Découvrez nos produits</a>
					</div>
				</div>
			</div>
		{% endblock %}
	</main>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+CE8WTB0qBM9Hf7EAa/2ib4cDRflJw5bCk8JzFf" crossorigin="anonymous"></script>

{% endblock %}
