{% extends 'base.html.twig' %}

{% block h1 %}{% endblock %}

{% block body %}

   <a class="btn btn-dark" href="{{ path('admin_produit_show', {'id': produit.id}) }}">Retour</a>
   <a class="btn btn-primary" href="{{ path('admin_produit_edit', {'id': produit.id}) }}">Modifier ce produit</a>

   <div class="row">
       <div class="col-6">
           {{ form_start(formProduit) }} {# ouverture de la balise form #}
           {{ form_row(formProduit.id) }} {# Affichage du champ 'id' du formulaire #}
           {{ form_row(formProduit.nomProduit) }}
           {{ form_row(formProduit.descriptionProduit) }}
           {{ form_row(formProduit.prixProduit) }}
           {{ form_row(formProduit.stockDispo) }}
           {{ form_row(formProduit.taille) }}
           {{ form_row(formProduit.imagePath) }}
           <input type="submit" value="Confirmer la modification" class="btn btn-success w-100">
           {{ form_end(formProduit) }} {# fermeture de la balise form #}
       </div>
   </div>
   
{% endblock %}
