{# {% extends 'base.html.twig' %}
{% block NomProduit %}Commande {% endblock %}

{% block DescriptionProduit %}Commande{% endblock %}
    
{% block main %}

<h1 class="text-center my-3 display-5">Ma Commande</h1>

 

    <div class="container">
        <div class="row">
            <div class"col-md-3">
                Forumalire: Adresse et Livreur
            </div>
            <div class"col-md-9">
                Recapitulatif de la Commande
        </div>
      </div>
    </div>



{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Commande index
{% endblock %}

{% block body %}

	<h1 class="text-center my-3 display-5">Ma Commande</h1>

	<div class="container position-relative">
		<div class="row">
			<div class="col-md-6">
				<div class="text-start mt-3 mb-5">
					<a href="{{ path('app_adresse_livraison_new') }}" class="btn btn-success">Créer une nouvelle adresse</a>
				</div>
				{# Formulaire: Adresse et Livreur #}
				{{ form_start(form) }}
					<div class="mb-3">
						<div class="text-danger">{{ form_errors(form.AdresseLivraison) }}</div>
						{{ form_widget(form.AdresseLivraison, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						<div class="text-danger">{{ form_errors(form.Transporteurs) }}</div>
						{{ form_widget(form.Transporteurs, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						<input formnovalidate type="submit" class="btn btn-warning w-100" value="Passer la commande et payer">
					</div>
				{{ form_end(form) }}
			</div>

			<div
				class="col-md-6">
				Récapitulatif de la Commande

				{# {{dump(produits)}} #}

				{# <ol class="list-group list-group-numbered">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Prix HT.</div>
							...
						</div>
						<span class="badge text-bg-primary rounded-pill">14</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">TVA.</div>
							...
						</div>
						<span class="badge text-bg-primary rounded-pill">14</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Prix TTC.</div>
							...
						</div>
						<span class="badge text-bg-primary rounded-pill">14</span>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Prix Livraison</div>
							...
						</div>
						<span class="badge text-bg-primary rounded-pill">14</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Prix T.</div>
							...
						</div>
						<span class="badge text-bg-primary rounded-pill">14</span>
					</li>
				</ol> #}

				<a href="{{ path('panier_index') }}" type="button" class="btn btn-primary">Revenir au panier</a>
			</div>
		</div>
	</div>

{% endblock %}


{# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>PaiementStripe</th>
                <th>DateCommande</th>
                <th>StatutCommande</th>
                <th>MontantTtc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.UserId }}</td>
                <td>{{ commande.PaiementStripe }}</td>
                <td>{{ commande.DateCommande ? commande.DateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.StatutCommande }}</td>
                <td>{{ commande.MontantTtc }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-warning">Modifier</a>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#">Create new</a>
{% endblock %} #}
