{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block description %}Nouvelle Adresse{% endblock %}

{% block body %}
    <h1 class="text-center display-5">Nouvelle Adresse</h1>

    <div class="container">
        <div class="row">
            {{ form_start(form)}}
            <div class="md-3">
                <label for="form_LibRueAdresseLivraison">LibRueAdresseLivraison <span class="text-danger">*</span></label>
                {{ form_widget(form.LibRueAdresseLivraison, {'attr': {'class': 'form-control', 'autofocus': 'autofocus'}}) }}
            </div>
            <div class="md-3">
                <label for="form_CpAdresseLivraison">CpAdresseLivraison <span class="text-danger">*</span></label>
                {{ form_widget(form.CpAdresseLivraison, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="md-3">
                <label for="form_VilleAdresseLivraison">VilleAdresseLivraison<span class="text-danger">*</span></label>
                {{ form_widget(form.VilleAdresseLivraison, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="md-3">
                <label for="form_CommentaireAdresseLivr">CommentaireAdresseLivr <span class="text-danger">*</span></label>
                {{ form_widget(form.CommentaireAdresseLivr, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="md-3 mt-3">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>

    <a href="{{ path('app_adresse_livraison_index') }}">Retour</a>

    {# <pre>
        {{ dump(pp_adresse_livraison_index) }}
    </pre> #}
{% endblock %}
