{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Password</th>
                <th>Rôles</th>
                <th>Numéro de Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if user is not empty %}
                {% for user in user %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        
                        {# <td>{{ user.roles ? user.roles|join(', ') : '' }}</td> #}
                        <td>{{ user.NumdeTel }}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary">Afficher</a>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-success">Créer Nouveau</a>
{% endblock %}
